{% extends 'adminbase.html.twig' %}
{% block title %}Üye Listesi{% endblock %}



{% block content %}

<div class="content">
    <div class="container-fluid">
        <h1>Düzenle</h1>
        {{ include('admin/messages.html.twig') }}
        <div class="row"style="margin-top:3%">
            {{ include('admin/product/_delete_form.html.twig') }}
    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}




        </div>
    </div>
</div>

{% endblock %}

